<div class="footer">
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">SuperSnikerSteet</h1>
      <address>
        Манежная площадь, 1, стр. 2, Москва<br>
        <a class="footer__btn" href="mailto:example@gmail.com">Написать письмо</a>
      </address>
    </div>
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Товары</h2>
        <ul class="nav__ul">
          <li>
            <a href="#">Одежда</a>
          </li>
          <li>
            <a href="#">Обувь</a>
          </li>
          <li>
            <a href="#">Аксессуары</a>
          </li>
        </ul>
      </li>
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">О нас</h2>
        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Миссия</a>
          </li>
        </ul>
      </li>
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Новости</h2>
        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Новые поступления</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <h2 class="nav__title">Контакты</h2>
        <ul class="nav__ul">
          <li>
            <a href="#">Разраб 2</a>
          </li>
          <li>
            <a href="#">Разраб 2</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <h2 class="nav__title">Личный кабинет</h2>
        <ul class="nav__ul">
          <li>
            <a href="#">Мои заказы</a>
          </li>
          <li>
            <a href="#">Возвраты</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="legal">
      <p>&copy; 2022 Пет проект.</p>
    </div>
  </footer>
</div>